.mainDiv {
    width: 100%;
    text-align: center;
}

.loginLogo {
    padding: 30px 0;
}

.loginForm {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    direction: rtl;
}

.mngLogo{
    padding: 20px 0 0 0;
}

.mngButtons {
    width: 80%;
    margin: 0 auto;
}

.mngForm {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 10px 0;
    direction: rtl;
}

.mngFooter {
    text-align: center;
    height: 60px;
    display: block;
    padding: 0;
}

.mngFooterBtn {
    width: 100%;
    height: 30px;
}

.mngFooterText {
    width: 100%;
    height: 20px;
}
