<ion-view cache-view="false">
    <ion-content>

        <div class="mainDiv">

            <div class="loginLogo">
                <img src="img/logo.jpg">
            </div>

            <div class="loginForm">
                <label class="item item-input">
                    <span class="input-label">מספר טלפון</span>
                    <input type="tel" ng-model="login.phone">
                </label>

                <button class="button button-block button-outline button-positive" ng-click="makeLogin()">
                    התחבר
                </button>
            </div>

        </div>

    </ion-content>
</ion-view>