<ion-view cache-view="false">
    <ion-content class="has-footer" style="bottom: 60px;">

        <div class="mainDiv">

            <div class="mngLogo">
                <img src="img/logo.jpg">
            </div>
            <div>אפליקציה לדווח נוכחות עובדים מנייד</div>

            <div class="mngForm">
                <label class="item item-input">
                    <span class="input-label">מספר פרויקט</span>
                    <input type="tel" ng-model="numbers.project">
                </label>
                <label class="item item-input">
                    <span class="input-label">מספר משימה</span>
                    <input type="tel" ng-model="numbers.task">
                </label>
            </div>

            <div class="mngButtons">

                <button class="button button-block button-balanced" ng-click="sendReport(32)">דיווח כניסה</button>

                <button class="button button-block button-assertive" ng-click="sendReport(33)">דיווח יציאה</button>

                <button class="button button-block button-positive" ng-show="absence == '1'" ng-click="sendReport(901)">דיווח חופש</button>

                <button class="button button-block button-positive" ng-show="absence == '1'" ng-click="sendReport(902)">דיווח מחלה</button>

                <button class="button button-block button-positive" ng-show="absence == '1'" ng-click="sendReport(903)">דיווח מילואים</button>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="mngFooter">
        <div class="mngFooterBtn">
            <button style="height: 20px; margin-top: 5px;" class="button button-positive button-clear button-block" ng-click="logout()">להחליף משתמש</button>
        </div>
        <div class="mngFooterText">לתמיכה נא לפנות בטלפון: 09-7412262</div>
    </ion-footer-bar>
</ion-view>